[Unit]
Description=devterm keyboard service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/devterm_keyboard.py
Restart=always
Environment="DISPLAY=:0.0" "DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"


[Install]
WantedBy=multi-user.target
